{% extends "base.html" %}


{% block content %}
    <div>
        <form method="POST">
            <label>Tipo de Documento</label>
            <select name="document" class="form-select">
                {% for option in docs %}
                    <option value="{{ option }}"> {{ option }} </option>
                {% endfor %}
            </select>

            <label>Rango de Numeración</label>
            <select name="numbering-range" class="form-select">
                {% for option in num_range %}
                    <option value="{{ option }}" > {{ option }} </option>
                {% endfor %}
            </select>

            <label>Departamento</label>
            <select name="department" class="form-select">
                {% for option in departments %}
                    <option value="{{ option }}"> {{ option }} </option>
                {% endfor %}
            </select>

            <label>Municipio</label>
            <select name="municipality" class="form-select">
                {% for option in municipality %}
                    <option value="{{ option }}"> {{ option }} </option>
                {% endfor %}
            </select>

            <label>Tributo</label>
            <select name="tribute" class="form-select">
                {% for option in tributes %}
                    <option value="{{ option }}"> {{ option }} </option>
                {% endfor %}
            </select>

            <label>Unidades de Medida</label>
            <select name="tribute" class="form-select">
                {% for option in measuremente_units %}
                    <option value="{{ option }}"> {{ option }} </option>
                {% endfor %}
            </select>

            <button type="submit" class="btn btn-primary">Crear Factura</button>
        </form>
    </div>
{% endblock %}